# Virtual environment folders
venv/
.venv/

# Python cache files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Build and distribution
.Python
build/
dist/
*.egg-info/

# Environment variables
.env

# macOS system files
.DS_Store

# Additional files
notes.txt

#Gunicorn service
gunicorn.service

#Nginx Setup
nginx